:root {
  --green: #00FF00;
  --off-white: #d4d4d4;
  --dark-grey: #121212;
  --medium-grey: #1e1e1e;
  --light-grey: #2e2e2e;
  --soft-purp: #bb86fc;
}

* {
  color: var(--fontColor);
  font-family: helvetica;
}

body {
  background: var(--bg);
  margin-left: 100px;
  margin-right: 100px;
}

p {
  text-align: left;
  margin-left: 2%;
  margin-right: 2%;
}

h1 {
  text-align: center;
}

h2 {
  margin-left: 2%;
}

button.button {
  background-color: var(--btnBg);
  color: var(--btnFontColor);
  position: static;
  border: none;
  height: 10%;
  width: 10%;
  border-radius: 5%/30%;
}

.dark-theme {
  --bg: var(--dark-grey);
  --fontColor: var(--off-white);
  --btnBg: var(--soft-purp);
  --btnFontColor: var(--dark-grey);
}

.tile {
  background-color: var(--medium-grey);
  border-color: var(--medium-grey);
  border-style: solid;
  border-radius: 10px;
}

.questionSet {
  margin-top: 1%;
  margin-left: 3%;
  margin-right: 3%;
  text-align: left;
}

.plot {
  width: 30%;
  height: 20%;
  background-color: var(--light-grey);
  border-color: var(--light-grey);
  border-style: solid;
  border-radius: 20px;
}

#buttonContainer {
  text-align: center;
}

#demographics {
  visibility: hidden;
}

#demo-submit-btn { visibility: hidden; }
#demo-submit-btn:focus { outline-style: none; }

#quiz {
  visibility: hidden;
}

#quiz-submit-btn:focus { outline-style: none; }

#results {
  visibility: hidden;
}

#resultHead {
  font-size: 100%;
}

#conclusion {
  visibility: hidden;
}
