:root {
  --green: #00FF00;
  --off-white: #d4d4d4;
  --dark-grey: #121212;
  --medium-grey: #6F6B6B;
  --soft-purp: #bb86fc;
}

* {
  color: var(--fontColor);
  font-family: helvetica;
}

body {
    background: var(--bg);
}

h1 {
  text-align: center;
}

.list {
  list-style: square;
}

#start-btn {
  position: static;
  height: 50px;
  width: 60px;
  border-radius: 16px;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg)
}
#start-btn:focus { outline-style: none; }

#demo-submit-btn {
  visibility: hidden;
  position: static;
  height: 50px;
  width: 60px;
  border-radius: 16px;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg)
}
#demo-submit-btn:focus { outline-style: none; }

#quiz-submit-btn {
  visibility: hidden;
  position: static;
  height: 50px;
  width: 60px;
  border-radius: 16px;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg)
}
#quiz-submit-btn:focus { outline-style: none; }

.button { text-align: center; }

#quiz { text-align: left; }

.question {
  text-align: left;
}

.plot {
  width: 600px;
  height:250px;
}

.dark-theme {
  --bg: var(--dark-grey);
  --fontColor: var(--off-white);
  --btnBg: var(--soft-purp);
  --btnFontColor: var(--dark-grey);
}
