:root {
  --green: #00FF00;
  --off-white: #d4d4d4;
  --dark-grey: #121212;
  --medium-grey: #1e1e1e;
  --soft-purp: #bb86fc;
}

* {
  color: var(--fontColor);
  font-family: helvetica;
}

body {
    background: var(--bg);
    margin-left: 100px;
    margin-right: 100px;
}

h1 {
  text-align: center;
}

h2 {
  margin-left: 20px;
}

.tile {
  background-color: var(--medium-grey);
  border-color: var(--medium-grey);
  border-style: solid;
  border-radius: 10px;
}

p {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}

#start-btn {
  position: static;
  height: 50px;
  width: 60px;
  border-radius: 16px;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg)
}
#start-btn:focus { outline-style: none; }

#demographics {
  visibility: hidden;
}

#demoQuestions {
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

#demo-submit-btn {
  position: static;
  height: 50px;
  width: 60px;
  border-radius: 16px;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg)
}
#demo-submit-btn:focus { outline-style: none; }

#quiz {
  visibility: hidden;
}

#quizQuestions {
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 100px;
}

#quiz-submit-btn {
  position: static;
  height: 50px;
  width: 60px;
  border-radius: 16px;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg)
}
#quiz-submit-btn:focus { outline-style: none; }

.button { text-align: center; }


.question {
  text-align: left;
}

#results {
  visibility: hidden;
}

.plot {
  width: 600px;
  height:250px;
}

.dark-theme {
  --bg: var(--dark-grey);
  --fontColor: var(--off-white);
  --btnBg: var(--soft-purp);
  --btnFontColor: var(--dark-grey);
}
